<main class="container py-3">
  <div class="main-class">

  </div>
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 ">
    <h1 class="h2">Users</h1>
  </div>


  <div class="form-group pt-2 m-2">
    <div class="input-field">
      <input #searchBox id="search-box" type="text" placeholder="Search User" [(ngModel)]="filteredValue">
      <span class="fa fa-search p-2"></span>
    </div>
  </div>

  <div class="table-responsive table-container" [ngClass]="{'scroll': numUsers > 10}">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Blocked</th>
          <th scope="col">Role</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of users | filterUser: filteredValue; let i = index">
        <tr class="dropdown" *ngIf="user.id !== deletedUserId">
          <td>{{user.id}}</td>
          <td>{{user.firstName}} {{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.isBlocked}}</td>
          <td>{{user.role}}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary " type="button" id="actionDropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="background-color:transparent; border: 0px;">
                <a class="fa fa-ellipsis-v" style="text-decoration: none; color: black;"></a>
              </button>
              <div class="dropdown-menu" aria-labelledby="actionDropdown">
                <a class="dropdown-item" (click)="editUser(user.id)" style="cursor: pointer;">Edit</a>
                <a class="dropdown-item" (click)="deleteUser(user.id)" style="cursor: pointer;">Delete</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

<main class="container py-3">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Pendent Recipes</h1>
  </div>
  <app-pendent-recipes></app-pendent-recipes>
</main>
