<section class="py-1 text-center container">
  <div class="card">
    <div class="card-body">
      <img
      [src]="userImage"
      width="100" height="100" class="rounded-circle">

      <h5 class="card-title">{{user.fullName}}</h5>
      <a *ngIf="editFlag" style="cursor:pointer; color: blue;" (click)="triggerFileInput()">edit photo</a>
      <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
      <section *ngIf="!editFlag else editVersion">
        <div class="row">
          <div class="col-sm-6">
            <div class="card  border-0">
              <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">{{user.fullName}}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card  border-0 ">
              <div class="card-body">
                <h5 class="card-title">Email</h5>
                <p class="card-text">{{user.email}}</p>
              </div>
            </div>
          </div>
        </div>
      </section>


      <ng-template #editVersion>
        <form [formGroup]="profileForm">
          <div class="row">
            <div class="col-sm-4">
              <div class="card  border-0">
                <div class="card-body">
                  <h5 class="card-title">Name</h5>

                  <div class="input-field"
                    [class.error]="profileForm.controls['firstName'].dirty && profileForm.hasError('firstName') ">
                    <span class="fa fa-user p-2"></span>

                    <input formControlName="firstName" type="text" placeholder="{{user.firstName}}">
                  </div>
                  <br>
                  <div class="input-field"
                    [class.error]="profileForm.controls['lastName'].dirty && profileForm.hasError('lastName') ">
                    <span class="fa fa-user p-2"></span>

                    <input formControlName="lastName" type="text" placeholder="{{user.lastName}}">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card  border-0 ">
                <div class="card-body">
                  <h5 class="card-title">Email</h5>
                  <div class="input-field"
                    [class.error]="profileForm.controls['email'].dirty && profileForm.hasError('email')">
                    <span class="fa fa-envelope p-2"></span>

                    <input formControlName="email" type="text" placeholder="{{user.email}}">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card  border-0 ">
                <div class="card-body">
                  <h5 class="card-title">Password</h5>
                  <div class="input-field"
                    [class.error]="profileForm.controls['password'].dirty && profileForm.hasError('password')">
                    <span class="fa fa-lock p-2"></span>
                    <input formControlName="password" [type]="type" placeholder="Password">
                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </ng-template>

      <span *ngIf="!editFlag" class="btn btn-outline-primary me-2" (click)="edit()">Edit profile</span>
      <span *ngIf="editFlag" class="btn btn-outline-primary me-2" (click)="edit()">Cancel</span>
      <span *ngIf="editFlag" class="btn btn-outline-primary me-2" (click)="updateUserData()">Save Changes</span>
    </div>
  </div>
</section>

<main class="container py-3">
  <div class="main-class">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
      <h1 class="h2">My recipes | Favourites</h1>
    </div>
    <app-recipes [profileUserId]="id"></app-recipes>

      </div>
