<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <h1>Create a Recipe</h1>

      <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" formControlName="title"  placeholder="e.g. Pancakes" required >
        </div>

        <div class="form-group row">
          <div class="col-12 col-md-6">
            <label for="time">Estimated Time (mins)</label>
            <input type="number" class="form-control" formControlName="estimatedTime" placeholder="e.g. 120">
          </div>

          <div class="col-12 col-md-6">
            <label for="difficulty">Difficulty</label>
            <select class="form-control" formControlName="difficulty">
              <option value="">-- Select --</option>
              <option value="Easy">Easy</option>
              <option value="Medium">Medium</option>
              <option value="Hard">Hard</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" formControlName="description" rows="4" placeholder="e.g. Tasty pancakes "required></textarea>
        </div>

        <div class="form-group row">
          <div class="col-12 col-md-6">
            <label for="meals">Meals per Recipe</label>
            <input type="number" class="form-control" formControlName="mealsPerRecipe">
          </div>

          <div class="col-12 col-md-4">
            <label for="image">Image</label>
            <input type="file" class="form-control-file" formControlName="img">
          </div>
        </div>

        <div class="form-group">
          <label for="tags">Tags</label>
          <input type="text" class="form-control" formControlName="tags" placeholder="breakfast,healthy,pancakes,vegan ">
          <small class="form-text text-muted">Separate tags with commas -> e.g : breakfast,healthy,pancakes,vegan</small>
        </div>

        <div class="form-group">
          <label for="ingredients">Ingredients</label>
          <div formArrayName="ingredients">
            <div class="ingredient-field row" *ngFor="let ingredient of ingredients.controls; let i = index" [formGroupName]="i">
              <div class="col-12 col-md-4">
                <input type="text" class="form-control" formControlName="name" placeholder="Ingredient Name e.g. Sugar" required>
              </div>
              <div class="col-12 col-md-4">
                <input type="text" class="form-control" formControlName="quantity" placeholder="Quantity e.g. '120'" required>
              </div>
              <div class="col-12 col-md-4">
                <input type="text" class="form-control" formControlName="quantityType" placeholder="Quantity Type e.g. 'gram' " required>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-secondary btn-sm mt-2" (click)="addIngredient()">Add Ingredient</button>
        </div>
        <div class="form-group">
          <label for="steps">Steps</label>
          <div formArrayName="steps">
            <div class="step-field row" *ngFor="let step of steps.controls; let i = index" [formGroupName]="i">
              <div class="col-12 col-md-1 text-center step-number">{{ i + 1 }}</div>
              <div class="col-12 col-md-11">
                <textarea class="form-control" formControlName="stepDescription" rows="3" placeholder="Step description" required></textarea>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-secondary btn-sm mt-2" (click)="addStep()">Add Step</button>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
